<app-side-navigator-bar></app-side-navigator-bar>

<div class="inventory-container">
  <!-- Primera columna: Formulario de Inventario -->
  <div class="inventory-form">
    <h2>Agregar Producto al Inventario</h2>

    <form [formGroup]="inventoryForm" (ngSubmit)="addProduct()" class="form-box">
      <div class="form-group">
        <label for="nombre">Nombre del Producto</label> <br>
        <input id="nombre" formControlName="nombre" type="text" placeholder="Nombre del producto" required>
      </div>

      <div class="form-group">
        <label for="estado">Estado</label> <br>
        <input id="estado" formControlName="estado" type="text" placeholder="Estado del producto">
      </div>

      <div class="form-group">
        <label for="fecha">Fecha de Ingreso</label> <br>
        <input id="fecha" formControlName="fecha" type="date">
      </div>

      <div class="form-group">
        <label for="marca">Marca</label> <br>
        <input id="marca" formControlName="marca" type="text" placeholder="Marca">
      </div>

      <div class="form-group">
        <label for="cantidad">Cantidad</label><br>
        <input id="cantidad" formControlName="cantidad" type="number" placeholder="Cantidad">
      </div>

      <div class="form-group">
        <label for="rubro">Rubro</label> <br>
        <input id="rubro" formControlName="rubro" type="text" placeholder="Rubro">
      </div>

      <div class="form-group">
        <label for="detalles">Detalles</label> <br>
        <textarea id="detalles" formControlName="detalles" placeholder="Descripción detallada"></textarea>
      </div>

      <div class="form-group">
        <label for="photo">Cargar fotos de producto</label>
        <div class="file-upload">
          <label class="file-upload-label">
            <input type="file" (change)="onFileSelected($event)" accept="image/*" multiple />
          </label>
          <div class="photo-previews">
            <div class="photo-preview" *ngFor="let file of selectedFiles; let i = index">
              <img [src]="file" alt="Vista previa" />
              <button class="delete-button" (click)="removeImage(i)">X</button> <!-- Botón para eliminar la imagen -->
            </div>
          </div>
        </div>
      </div>

      <button type="submit" mat-raised-button color="primary">Agregar Producto</button>
    </form>
  </div>

  <!-- Segunda columna: Lista de productos -->
  <div class="product-list">
    <h2>Lista de Productos Temporales</h2>

    <div class="product-grid">
      <div class="product-card" *ngFor="let product of tempProducts">
        <img [src]="product.photo[0]" alt="Foto del producto" class="product-photo">
        <h3>{{ product.nombre }}</h3>
        <p>Marca: {{ product.marca }}</p>
        <p>Fecha: {{ product.fecha }}</p>

        <button mat-raised-button color="accent" (click)="viewDetails(product)">Ver Detalle</button>
        <button mat-raised-button color="warn" (click)="deleteProduct(product)">Borrar</button>
      </div>
    </div>
  </div>
</div>
